#loadingDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 10000;
  opacity: 0.7;
  display: none; }
  #loadingDiv .loading_gif {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%; }

.transport_form .no-margin {
  margin: 0 !important; }

.transport_form .panel-heading .find_tasks {
  cursor: pointer; }
  .transport_form .panel-heading .find_tasks div {
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.transport_form .panel-heading .find_tasks.checked {
  color: #83c22c; }

.transport_form .panel-heading .panel-title {
  font-size: 18px; }
  .transport_form .panel-heading .panel-title a {
    cursor: pointer !important;
    color: #666666; }
    .transport_form .panel-heading .panel-title a i {
      line-height: 20px;
      font-size: 24px; }
  .transport_form .panel-heading .panel-title .btn-link:hover {
    color: #83c22c;
    background: #ffffff; }

.transport_form .tab-pane {
  margin-bottom: 20px; }
  .transport_form .tab-pane .input-group {
    width: 95%; }
    .transport_form .tab-pane .input-group span.form-control {
      border: 0;
      box-shadow: none;
      padding-left: 40px; }
      .transport_form .tab-pane .input-group span.form-control .record_name {
        margin-left: 10px;
        cursor: pointer; }
      .transport_form .tab-pane .input-group span.form-control button {
        color: #666666 !important;
        font-size: 15px;
        line-height: 0; }
      .transport_form .tab-pane .input-group span.form-control .add_new_link {
        color: #666666 !important;
        cursor: pointer;
        margin-left: -20px; }
      .transport_form .tab-pane .input-group span.form-control input[type=checkbox] {
        display: none; }
    .transport_form .tab-pane .input-group span.form-control.checked .record_name {
      color: #83c22c; }
    .transport_form .tab-pane .input-group span.form-control.checked > i {
      color: #83c22c; }

.transport_form .datepicker {
  padding: 10px 15px; }
  .transport_form .datepicker .panel-heading {
    background: #ffffff;
    color: #666666;
    border: 1px solid #CCCCCC;
    border-bottom: 0;
    text-align: center; }
  .transport_form .datepicker .xdsoft_datetimepicker.xdsoft_inline {
    width: 100%; }
  .transport_form .datepicker .xdsoft_datetimepicker .xdsoft_datepicker.active, .transport_form .datepicker .xdsoft_datetimepicker .xdsoft_timepicker.active {
    width: calc( 100% - 8px); }
  .transport_form .datepicker .xdsoft_datetimepicker .xdsoft_month {
    width: 45%; }

.transport_form .find-route {
  padding: 20px; }

.transport_form .nav-tabs li a {
  background: #ffffff;
  color: #83c22c;
  border: 1px solid #83c22c; }
  .transport_form .nav-tabs li a .btn-link {
    color: #83c22c; }
  .transport_form .nav-tabs li a .btn-link:hover {
    color: white;
    background: #83c22c; }

.transport_form .nav-tabs li.active a {
  background: #83c22c;
  color: #ffffff;
  border: 1px solid #408333; }
  .transport_form .nav-tabs li.active a .btn-link {
    color: #ffffff; }
  .transport_form .nav-tabs li.active a .btn-link:hover {
    color: #83c22c;
    background: #ffffff; }

.transport_form #job-own-vehicles {
  margin-bottom: 0; }

.transport_form #job-choose-tasks .panel-heading {
  background-color: #83c22c;
  border: #408333; }

#own_delivery_form .datepicker, #need_delivery_form .datepicker {
  display: none; }

/* generic button styles */
.btn-primary {
  background: #4E98EC;
  border: 1px solid #2D6DB1; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #3173BA;
    border: 1px solid #1A4777; }

.btn-danger {
  background: #f64a4a;
  border: 1px solid #ce0604; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background: #de2b2b;
    border: 1px solid #921514; }

@media (min-width: 768px) and (max-width: 991px) {
  .transport_form .panel-heading {
    padding: 10px 5px; }
  .transport_form .tab-pane .input-group {
    width: 100%; }
    .transport_form .tab-pane .input-group span.form-control {
      padding-left: 20px;
      padding-right: 5px; } }

/*# sourceMappingURL=find.css.map */
