.popup-modal {
  background-color: transparent; }
  .popup-modal .modal-content {
    margin: 0 auto;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #3399F3;
    max-width: 480px; }
  .popup-modal .form-group input {
    width: 100% !important; }
  .popup-modal .modal-header {
    background-color: #3399F3;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: none;
    padding: 20px 20px; }
    .popup-modal .modal-header .form-group {
      margin-bottom: 0px; }
    .popup-modal .modal-header .form-control {
      height: 30px;
      padding: 3px 12px; }
    .popup-modal .modal-header .modal-title {
      color: #FFFFFF;
      text-align: center; }
      .popup-modal .modal-header .modal-title input {
        color: #666666; }
      .popup-modal .modal-header .modal-title i {
        float: left;
        margin-top: 4px;
        color: #FFFFFF;
        font-size: 22px; }
  .popup-modal .modal-body {
    display: block;
    float: left;
    width: 100%;
    background: #FFFFFF;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
    .popup-modal .modal-body .row {
      margin-left: -20px;
      margin-right: -20px;
      z-index: 100; }
    .popup-modal .modal-body .address_row {
      position: relative;
      margin-bottom: 5px !important;
      margin-left: -15px;
      margin-right: -15px; }
      .popup-modal .modal-body .address_row .col-xs-6:first-child {
        padding-left: 0;
        padding-right: 20px; }
      .popup-modal .modal-body .address_row .col-xs-6:last-child {
        padding-left: 20px;
        padding-right: 0; }
    .popup-modal .modal-body .owner .owner-name {
      display: inline-block;
      float: left; }
    .popup-modal .modal-body .owner .owner-phone {
      display: inline-block;
      float: right; }
    .popup-modal .modal-body textarea {
      background: #fff;
      border: none;
      outline: none;
      text-shadow: none;
      box-shadow: none;
      resize: none;
      cursor: text;
      width: 100%;
      max-height: 82px; }
    .popup-modal .modal-body .location {
      display: block;
      float: left;
      width: 100%;
      position: relative; }
      .popup-modal .modal-body .location .from {
        width: 40%;
        display: inline-block;
        float: left; }
      .popup-modal .modal-body .location .arrow {
        width: 20%;
        display: inline-block;
        float: left;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 48px;
        font-size: 40px;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
      .popup-modal .modal-body .location .to {
        width: 40%;
        display: inline-block;
        float: left;
        margin-left: 20%; }
    .popup-modal .modal-body .seats {
      display: block;
      float: left;
      width: 100%; }
    .popup-modal .modal-body .packages {
      display: block;
      float: left;
      width: 100%; }
      .popup-modal .modal-body .packages .size {
        display: inline-block;
        float: left; }
      .popup-modal .modal-body .packages .weight {
        display: inline-block;
        float: right; }
    .popup-modal .modal-body .icons {
      display: block;
      float: left;
      width: 100%;
      margin-top: 4px; }
      .popup-modal .modal-body .icons i {
        color: #999999;
        font-size: 26px;
        line-height: 26px; }
      .popup-modal .modal-body .icons .icon-active i {
        color: #0057bd; }
      .popup-modal .modal-body .icons .temp {
        display: inline-block;
        float: right; }
  .popup-modal hr {
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .popup-modal .glyphicon.glyphicon-chevron-right {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 68px;
    font-size: 48px;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: -1;
    color: #CCCCCC; }
  .popup-modal .action_row {
    border-top: 1px solid #CCCCCC;
    padding-top: 20px; }
  .popup-modal .nav-tabs {
    margin-bottom: 0; }
    .popup-modal .nav-tabs li {
      width: 20%;
      text-align: center;
      border: 1px solid #CCCCCC;
      border-right: 0; }
    .popup-modal .nav-tabs li:last-child {
      border-right: 1px solid #CCCCCC; }
    .popup-modal .nav-tabs li > a {
      border-radius: 0;
      font-size: 26px;
      padding: 5px 15px; }
    .popup-modal .nav-tabs li > a:hover {
      width: 100%; }
    .popup-modal .nav-tabs li.active > a {
      background: #85BBF8;
      width: 100%; }
  .popup-modal .tab-content .panel-heading {
    background: #85BBF8;
    text-align: center;
    color: #FFFFFF;
    border-radius: 0;
    padding: 15px 20px; }
  .popup-modal .tab-pane .panel-body {
    padding: 20px 10px;
    transition: height 0.5s linear; }
  .popup-modal .cost-label {
    margin-left: -20px;
    display: block;
    padding: 9px; }
  .popup-modal .cost-label.edit {
    margin-left: -35px; }
  .popup-modal .cargo-items {
    position: relative; }
  .popup-modal .cost-label.cargo-label {
    display: inline-block;
    float: left;
    margin-left: -14px;
    margin-right: -14px; }
  .popup-modal .cost-label.cargo-label.last {
    float: right;
    margin-right: 0; }
  .popup-modal .input-show, .popup-modal .select-show {
    border: none;
    box-shadow: none;
    outline: none;
    cursor: text;
    background-color: #ffffff;
    text-overflow: ellipsis; }
  .popup-modal .select-show {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #666666;
    background-color: #ffffff; }
  .popup-modal .select-show[name="select-vehicle-type"] i {
    font-size: 24px; }
  .popup-modal .form-group.data-toggle .btn-link {
    color: #666666;
    text-decoration: none;
    box-shadow: none;
    padding: 5px; }
  .popup-modal .form-group.data-toggle i {
    color: #999999;
    font-size: 24px;
    line-height: 26px; }
  .popup-modal .form-group.data-toggle .active {
    box-shadow: none; }
    .popup-modal .form-group.data-toggle .active i {
      color: #0057bd; }
  .popup-modal .form-group.data-toggle .active.btn-link {
    color: #0057bd; }
  .popup-modal .next-row {
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #CCCCCC; }
  .popup-modal .bootstrap-select.btn-group:not(.input-group-btn), .popup-modal .bootstrap-select.btn-group[class*="col-"] {
    float: left; }
  .popup-modal .cargo-items .form-group {
    margin-bottom: 0 !important; }
  .popup-modal .cargo-items .col-xs-1 {
    padding-left: 10px;
    margin-right: 10px; }
  .popup-modal .cargo-tab input {
    padding: 3px 6px !important; }
  .popup-modal .passenger_content {
    width: 250px;
    margin: 0 auto;
    float: none; }
  .popup-modal .time_content {
    width: 300px;
    margin: 0 auto;
    float: none; }

.task-modal .modal-content {
  border: 1px solid #83C22C; }

.task-modal .modal-header {
  background-color: #83C22C; }

.task-modal .nav-tabs li.active > a {
  background: #A1DA81; }

.task-modal .tab-content .panel-heading {
  background: #A1DA81; }

.task-modal #driving-cost input.form-control {
  width: 58px; }

.task-modal #driving-cost .cost-label {
  margin-left: 1px; }

.task-modal .btn-primary {
  background-color: #83C22C;
  border-color: #5C8A1C; }
  .task-modal .btn-primary:hover, .task-modal .btn-primary:active, .task-modal .btn-primary:focus {
    background-color: #A1DA81;
    border-color: #83C22C; }

/* FontAwesome Select Element*/
.bootstrap-select .filter-option, .bootstrap-select .dropdown-menu li a {
  text-align: center;
  color: #666666;
  font-family: FontAwesome; }
  .bootstrap-select .filter-option span, .bootstrap-select .dropdown-menu li a span {
    font-size: 20px; }
  .bootstrap-select .filter-option:hover, .bootstrap-select .dropdown-menu li a:hover {
    color: #3399F3;
    background: none; }

.bootstrap-select .dropdown-menu li.selected a {
  color: #3399F3;
  background: none; }

.bootstrap-select .dropdown-menu > li > a {
  padding: 3px 10px; }

.bootstrap-select .btn.dropdown-toggle {
  background: #FFFFFF;
  border-color: #CCCCCC;
  max-height: 30px;
  padding: 5px 10px; }
  .bootstrap-select .btn.dropdown-toggle:hover {
    background: #DDDDDD;
    border-color: #CCCCCC; }
  .bootstrap-select .btn.dropdown-toggle .bs-caret {
    color: #CCCCCC; }

.bootstrap-select .big_truck {
  transform: scale(1.5, 1); }

.bootstrap-select .dropdown-menu.inner {
  overflow: hidden !important; }

.task-modal.fade.in, .vehicle-modal.fade.in {
  background: transparent; }

.modal-backdrop.in {
  opacity: 0; }

@media (max-width: 480px) {
  .responsive_right {
    clear: left;
    float: right; }
  .vehicle-modal .cargo-tab .responsive_input, .task-modal .cargo-tab .responsive_input {
    clear: left;
    margin-left: 18%; }
  .vehicle-modal .cargo-tab .col-xs-2, .task-modal .cargo-tab .col-xs-2 {
    width: 32%; }
  .vehicle-modal .cargo-tab .row-4-elem, .task-modal .cargo-tab .row-4-elem {
    width: 23%; }
  .vehicle-modal .cargo-tab .cargo-size .col-xs-offset-1, .vehicle-modal .cargo-tab .cargo-size .col-xs-offset-2, .vehicle-modal .cargo-tab .cargo-size .col-xs-offset-3, .task-modal .cargo-tab .cargo-size .col-xs-offset-1, .task-modal .cargo-tab .cargo-size .col-xs-offset-2, .task-modal .cargo-tab .cargo-size .col-xs-offset-3 {
    margin-left: 0; } }

/*# sourceMappingURL=modal.css.map */
